# Session 9

<center>
Download this document as
    an <a href="session9.html" download>HTML file</a> or
    a  <a href="session9.ipynb" download>Jupyter file</a>.
</center>

In [2]:
import pandas as pd

In [3]:
d = pd.read_table('travelling_salesman.txt', header=None, skiprows=3, verbose=True)

FileNotFoundError: [Errno 2] No such file or directory: 'travelling_salesman.txt'

In [12]:
d

     0    1    2    3    4
0    0  770  464  674  926
1  770    0  312  410  197
2  464  312    0  544  469
3  674  410  544    0  560
4  926  197  469  560    0

In [14]:
d = d.to_numpy()

In [15]:
cities = list('PMLTN')
cities

['P', 'M', 'L', 'T', 'N']

In [ ]:
# -> 'PM' 'ML' 'LT' 'TN' 'NP'
# distance = dict()
# distance['AB'] -> distance between A and B
# distance['PM'] -> 770

In [1]:
distance = dict()

for i, A in enumerate(cities):
    for j, B in enumerate(cities):
        key = A + B # + concatenates the two characters
        distance[key] = d[i, j]
    print(f'{i} {A} {j} {B} -> {d[i, j]} {key}')

NameError: name 'cities' is not defined

In [21]:
distance

{'PP': 0,
 'PM': 770,
 'PL': 464,
 'PT': 674,
 'PN': 926,
 'MP': 770,
 'MM': 0,
 'ML': 312,
 'MT': 410,
 'MN': 197,
 'LP': 464,
 'LM': 312,
 'LL': 0,
 'LT': 544,
 'LN': 469,
 'TP': 674,
 'TM': 410,
 'TL': 544,
 'TT': 0,
 'TN': 560,
 'NP': 926,
 'NM': 197,
 'NL': 469,
 'NT': 560,
 'NN': 0}

In [30]:
def legs_from_trip(TRIP):
    'This computes the different legs that make up the trip.'
    legs = []
    
    for k in range(len(TRIP) - 1):
        leg = TRIP[k:(k + 2)]
        legs.append(leg)
    
    return legs

In [16]:
trip = 'PMLTNP'

In [38]:
dist = 0

In [39]:
for leg in legs_from_trip(trip):
    dist = dist + distance[leg]

In [40]:
dist

3112

In [41]:
# List comprehensions
sum( distance[leg] for leg in legs_from_trip(trip) )

3112

In [47]:
cities

['P', 'M', 'L', 'T', 'N']

In [48]:
trips = [
    'MLTN',
    'MLNT',
    'MTLN',
    'MTNL',
    'MNLT',
    'MNTL',
    
    'LMTN',
    'LMNT',
    'LTMN',
    'LTNM',
    'LNMT',
    'LNTM',
    
    'TMLN',
    'TMNL',
    'TLMN',
    'TLNM',
    'TNLM',
    'TNML',
    
    'NMLT',
    'NMTL',
    'NLTM',
    'NLMT',
    'NTML',
    'NTLM'
]

In [55]:
import itertools

In [62]:
trips = []

for trip in itertools.permutations('MLTN', 4):
    trips.append(''.join(trip))

In [63]:
trips

['MLTN',
 'MLNT',
 'MTLN',
 'MTNL',
 'MNLT',
 'MNTL',
 'LMTN',
 'LMNT',
 'LTMN',
 'LTNM',
 'LNMT',
 'LNTM',
 'TMLN',
 'TMNL',
 'TLMN',
 'TLNM',
 'TNML',
 'TNLM',
 'NMLT',
 'NMTL',
 'NLMT',
 'NLTM',
 'NTML',
 'NTLM']

In [64]:
len(trips), len(set(trips))

(24, 24)

In [65]:
for trip in trips:
    # dist = sum( distance[leg] for leg in legs_from_trip(trip) )
    dist = 0
    trip = 'P' + trip + 'P'
    for leg in legs_from_trip(trip):
        dist = dist + distance[leg]
    print(f'\t - - - / / {trip} | {dist}')

PMLTNP 3112
PMLNTP 2785
PMTLNP 3119
PMTNLP 2673
PMNLTP 2654
PMNTLP 2535
PLMTNP 2672
PLMNTP 2207
PLTMNP 2541
PLTNMP 2535
PLNMTP 2214
PLNTMP 2673
PTMLNP 2791
PTMNLP 2214
PTLMNP 2653
PTLNMP 2654
PTNMLP 2207
PTNLMP 2785
PNMLTP 2653
PNMTLP 2541
PNLMTP 2791
PNLTMP 3119
PNTMLP 2672
PNTLMP 3112

# Factorial and recursivity

Factorial of $n$ can be defined as
$$
    n ! = n \times (n - 1)!
$$
$20!$ -> $19!$ -> $18!$ -> ... -> $1! = 1$

In [70]:
def factorial(n):
    'Computes the factorial of n'
    if n == 1:
        return 1
    else:
        return n * factorial(n - 1)

$$ F_n = F_{n - 1} + F_{n - 2} $$
and
$F_0 = 1$ and $F_1 = 1$.

In [75]:
def fib(n):
    if n == 0:
        return 1
    elif n == 1:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

In [76]:
fib(10)

89

In [77]:
fib(20)

10946

In [79]:
fib(30)

1346269

In [80]:
fib(40)

165580141

In [87]:
def fib(n):
    a, b = 1, 1
    while n > 1:
        a, b = b, a + b
        n = n - 1

    return b

In [94]:
fib(100)

573147844013817084101

## Non-deterministic algorithms

In [105]:
import numpy as np
import matplotlib.pyplot as plt

n = 1000000

np.random.seed(123)

x = np.random.random(n) * 2 - 1
y = np.random.random(n) * 2 - 1

In [106]:
d2 = x**2 + y**2

In [107]:
4 * sum(d2 < 1)/n

3.142436